@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #212529;
}

header {
    display: flex;
    background-color: #373459;
    color: #fff;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 30%;
    margin: 0 10em 0 0;
}

header h1 {
    margin: 0;
}
/* 373459 // 4c487d // 373459 */
nav {
  background: linear-gradient(180deg, #322f4f, #4c487d); /* Dégradé vertical */
  text-align: center;
}

.textnone {
    text-decoration: none;
}

a {
    color: #fff;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #495057;
}

.container {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
}

#showcase {
    background: url('https://source.unsplash.com/1600x900/?architecture') no-repeat center center/cover;
    color: #000;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#showcase h2 {
    margin: 20px 0;
    font-size: 2.5em;
}

#showcase p {
    font-size: 1.2em;
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    flex-direction: row; /* La photo et le texte sont alignés côte à côte */
}

.photo-text-container img {
    max-width: 225px;
    height: auto;
    /* margin-right: 20px; */
}

.photo-text-container .text-section {
    width: 60%;
}

footer {
    background: linear-gradient(0.25turn,  #8E88ED, #F645AA, #EC8572, #D574E2, #7A71F0);
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
}

p a {
    color: #000000;
    text-decoration: underline;
}


@media (max-width: 1024px) {
    .photo-text-container {
        flex-direction: column;
    }

    .photo-text-container img {
        margin-bottom: 20px;
        width: 90%;
    }

    .photo-text-container .text-section {
        width: 90%;
    }

    nav a {
        padding: 10px 15px;
        font-size: 1.1em;
    }
}

@media (max-width: 768px) {
    .photo-text-container {
        flex-direction: column;
    }

    .photo-text-container img {
        margin-bottom: 20px;
        width: 100%;
    }

    .photo-text-container .text-section {
        width: 100%;
    }

    nav a {
        padding: 8px 10px;
        font-size: 1em;
    }
}

{
   display: flex;
    align-content: space-evenly;
}

.textcenter {
            text-align: center;
        }
{
 display: flex-wrap: nowrap;
}
}
        .search-container {
            margin-bottom: 20px;
        }
        input[type="text"] {
            padding: 10px;
            width: 300px;
            font-size: 16px;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
        #result {
            margin-top: 20px;
            font-size: 18px;
            color: #333;
        }
        #result img {
            vertical-align: middle;
            height: 2em;
        }
      }
         .search-container {
             width: 90%;
             max-width: 500px;
             display: flex;
             flex-direction: column;
         }
         input[type="text"] {
             padding: 10px;
             width: 100%;
             font-size: 16px;
             margin-bottom: 10px;
             box-sizing: border-box;
         }

         img {
    display: block; /* Évite l'espace blanc en bas des images */
    margin: 0 auto; /* Centre les images horizontalement */
}

/* Styles spécifiques pour les écrans de téléphone */
@media (max-width: 600px) {
    img {
        max-width: 100%; /* Les images ne dépassent jamais la largeur de leur conteneur */
        height: auto; /* Maintient les proportions de l'image */
    }
}
ul {
        list-style-type: none;
    }

    ul li {
        position: relative;
        padding-left: 20px;
    }

    ul li::before {
        content: "★";
        position: absolute;
        left: 0;
        color: black;
    }
